[Unit]
Description=Load FPGA Bitstream
After=sysinit.target
Before=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/load-bitstream.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target